{% extends "template.html" %}

{% load tags %}
{% load filters %}
{% load wrapwith %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block head %}
  {% include "popup_image.html" %}

  <script language="javascript">

   {% if target.celery_id %}

   var update_timer = 0;
   var update_timeout = 3000;

   update = function(){
     $.ajax({
       url: "{% url 'queue_state' target.celery_id %}",
       dataType: "json",
       timeout: 3000,

       success: function(json){
         $('#celery_state').html(json.state);
         if(json.state == 'SUCCESS' || json.state == 'FAILURE' || json.state == 'REVOKED'){
           location.reload();
         }
       },

       complete: function(xhr, status) {
         setTimeout(update, update_timeout);
       }
     });
   }

   $(function(){
     setTimeout(update, update_timeout);
   });

   {% endif %}

  </script>
{% endblock %}

{% block ptitle %}
  {% if target.celery_id %}(Running){% endif %}
  Target {{ target.id }} : LCServer
{% endblock %}

{% block title_div %}{% endblock %}

{% block content %}

  {% if not target %}
    <p>Target not found</p>
  {% else %}

    <h2>
      {{ target.name }}
    </h2>

    {% if target.title %}
    <div class="fst-italic mb-2">
      {{ target.title }}
    </div>
    {% endif %}
    <div>
      <a href="{% url 'target_files' id=target.id %}" class="text-decoration-none text-body me-2" title="Browse task files">
        <i class="fa fa-folder-open"></i>
      </a>
      <a href="{% url 'target_lightcurve' id=target.id %}" class="text-decoration-none text-body me-2" title="Interactive light curve viewer">
        <i class="fa fa-line-chart"></i>
      </a>
      Target {{ target.id }} created by <span class="text-primary fw-bold">{{ target.user|user }}</span> on {{ target.created|timestamp }} - {{ target.created|naturaltime }}
      {% if not user_may_submit %}
        <br>
        <span class="text-danger fw-bold">Target is read-only</span>
      {% endif %}
    </div>
    <div class="mb-4 {% if target.celery_id %}sticky-top bg-white border-bottom pb-2{% endif %}">
      State:
      {% if target.celery_id %}
        <span class="spinner-border spinner-border-sm text-primary" role="status"></span>
      {% endif %}
      <b class="text-{% if target.state == 'failed' %}danger{% elif target.celery_id %}primary{% else %}success{% endif %}">{{ target.state }}</b> on {{ target.modified|timestamp }} - {{ target.modified|naturaltime }}
      {% if target.celery_id and user_may_submit %}
        <!-- Help popover -->
        <div class="span-help-popover d-inline float-end" title="Target is running">
          <p>
            The target processing task is running on the server. The page will be automatically re-loaded when processing is finished.
          </p>
          <p>
            If necessary, you may cancel the running task by clicking on the running task id and using corresponding button on the task page.
          </p>
        </div>

        <br>
        Running id:
        <a href="{% url 'queue' id=target.celery_id %}">{{ target.celery_id }}</a>
        (<span id="celery_state"></span>)
        {% if user_may_submit and False %}
          <form action="{% url 'queue' id=target.celery_id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="action" value="terminatetarget" class="btn btn-danger">Terminate</button>
          </form>
        {% endif %}
      {% endif %}
    </div>

    <hr>
    <h3>Basic info</h3>

    {% if user_may_submit %}
      <form action="" method="POST" class="mb-2">
        <fieldset class="small" {% if target.celery_id %}disabled{% endif %}>
          {% crispy form_target_info %}

          <button type="submit" name="action" value="target_info" class="btn btn-primary">Get info</button>

          <button type="submit" name="action" value="target_everything" class="btn btn-secondary">Run everything</button>

          <button type="submit" name="action" value="cleanup_target" class="btn btn-danger ms-4"
                  title="Delete all processing results and configurations">Cleanup</button>

          <!-- Unsafe controls -->
          <button class="btn btn-light collapse-chevron-horizontal collapsed ms-4 me-4" type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#unsafeButtons"
                  aria-expanded="false"
                  aria-controls="unsafeButtons"
                  title="Show / hide unsafe controls">
          </button>

          <span id="unsafeButtons" class="collapse collapse-horizontal collapsed">
            <button type="submit" name="action" value="delete_target" class="btn btn-danger"
                    title="Permanently delete this target">Delete target</button>
          </span>

        </fieldset>
      </form>
    {% endif %}


    <!-- Basic info -->
    <hr style="border-style: dotted">
    <div class="row mb-2">
      {% if 'info.log' in files %}
        <div class="col-md">
          {% include "target_block_text.html" with file='info.log' %}
        </div>
      {% endif %}

      <div class="col-md">
        {% if 'target_ra' in target.config and 'target_dec' in target.config %}
          <!-- include Aladin Lite CSS file in the head section of your page -->
          <link rel="stylesheet" href="https://aladin.u-strasbg.fr/AladinLite/api/v3/latest/aladin.min.css" />
          <!-- It seems Aladin uses jQuery 1.x, let's also load it and hope it will not break anything -->
          <script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v3/latest/aladin.js" charset="utf-8"></script>
          {% if not target.celery_id %}
          <script type="text/javascript">
           $(document).ready(function(){
             let aladin;
             A.init.then(() => {
               aladin = A.aladin('#aladin-lite-div', {survey: "P/DSS2/color", fov:0.03, projection: 'TAN'});
               aladin.gotoRaDec({{ target.config.target_ra }}, {{ target.config.target_dec }});
             });
           });
          </script>
          {% endif %}
          <div>
            <!-- insert this snippet where you want Aladin Lite viewer to appear and after the loading of jQuery -->
            <div id="aladin-lite-div"
                 style="min-height:400px; min-width:400px; background-color: lightgray; display: flex; justify-content: center; align-items: center;">
              Aladin Lite is loading...
            </div>
          </div>
          <small>
            {% include "target_block_external.html" with ra=target.config.target_ra dec=target.config.target_dec %}
          </small>

        {% endif %}

        <div class="row">
          {% make_list 'galaxy_map.png' as list %}
          {% for name in list %}
            {% if name in files %}
              <div class="col" style="max-width: 256px">
                {% include "target_block_image.html" with image=name target=target only %}
              </div>
            {% endif %}
          {% endfor %}
        </div>

      </div>

    </div>


    <!-- ZTF -->
    {% if 'target_ra' in target.config and 'target_dec' in target.config %}
      <hr>
      <h3>Zwicky Transient Facility</h3>

      {% if user_may_submit %}
        <form action="" method="POST" class="mb-2">
          <fieldset class="small" {% if target.celery_id %}disabled{% endif %}>
            {% crispy form_target_ztf %}
            <button type="submit" name="action" value="target_ztf" class="btn btn-primary">Get ZTF lightcurve</button>
          </fieldset>
        </form>
      {% endif %}

      {% if 'ztf.log' in files %}
        <hr style="border-style: dotted">
        <div class="row mb-2">
          <div class="col-md">
            {% include "target_block_text.html" with file='ztf.log' %}
          </div>

          <div class="col-md">
            <div class="row">
              <!-- Cutouts -->
              <div class="col" style="max-width: 256px">
                {% include "target_block_image.html" with hips="CDS/P/ZTF/DR7/color" ra=target.config.target_ra dec=target.config.target_dec width=256 height=256 fov=0.03 only %}
              </div>

              {% make_list 'ztf_color_mag.png' as list %}
              {% for name in list %}
                {% if name in files %}
                  <div class="col" style="max-width: 256px">
                    {% include "target_block_image.html" with image=name target=target only %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        {% if 'ztf_lc.png' in files %}
          <div class="text-center">
            {% include "target_block_image.html" with image='ztf_lc.png' target=target width="800px" noclick=1 only %}
          </div>
        {% endif %}
      {% endif %}
    {% endif %}


    <!-- ASAS-SN -->
    {% if 'target_ra' in target.config and 'target_dec' in target.config %}
      <hr>
      <h3>ASAS-SN</h3>

      {% if user_may_submit %}
        <form action="" method="POST" class="mb-2">
          <fieldset class="small" {% if target.celery_id %}disabled{% endif %}>
            {% crispy form_target_asas %}
            <button type="submit" name="action" value="target_asas" class="btn btn-primary">Get ASAS-SN lightcurve</button>
          </fieldset>
        </form>
      {% endif %}

      {% if 'asas.log' in files %}
        <hr style="border-style: dotted">
        <div class="row mb-2">
          <div class="col-md">
            {% include "target_block_text.html" with file='asas.log' %}
          </div>

          <div class="col-md">
            <div class="row">
              {% make_list 'asas_color_mag.png' as list %}
              {% for name in list %}
                {% if name in files %}
                  <div class="col" style="max-width: 256px">
                    {% include "target_block_image.html" with image=name target=target only %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        {% if 'asas_lc.png' in files %}
          <div class="text-center">
            {% include "target_block_image.html" with image='asas_lc.png' target=target width="800px" noclick=1 only %}
          </div>
        {% endif %}
      {% endif %}
    {% endif %}


    <!-- TESS -->
    {% if 'target_ra' in target.config and 'target_dec' in target.config %}
      <hr>
      <h3>TESS</h3>

      {% if user_may_submit %}
        <form action="" method="POST" class="mb-2">
          <fieldset class="small" {% if target.celery_id %}disabled{% endif %}>
            {% crispy form_target_tess %}
            <button type="submit" name="action" value="target_tess" class="btn btn-primary">Get TESS lightcurves</button>
          </fieldset>
        </form>
      {% endif %}

      {% if 'tess.log' in files %}
        <hr style="border-style: dotted">
        <div class="row mb-2">
          <div class="col-md">
            {% include "target_block_text.html" with file='tess.log' %}
          </div>

          <div class="col-md">
            <div class="row">
              <!-- Cutouts -->
              <div class="col p-0 me-1" style="min-width: 256px; max-width: 256px">
                {% include "target_block_image.html" with skyview="TESS" ra=target.config.target_ra dec=target.config.target_dec width=256 fov=0.06 only %}
              </div>
              <div class="col p-0 me-1" style="min-width: 256px; max-width: 256px">
                {% include "target_block_image.html" with hips="DSS2/color" ra=target.config.target_ra dec=target.config.target_dec width=256 height=256 fov=0.06 only %}
              </div>

              {% make_list 'tess_color_mag.png' as list %}
              {% for name in files|grep:"^tess_lc_.*png$"|sort %}
                {% if name in files %}
                  <div class="col" style="max-width: 256px">
                    {% include "target_block_image.html" with image=name target=target only %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        {% if 'tess_lc.png' in files %}
          <div class="text-center">
            {% include "target_block_image.html" with image='tess_lc.png' target=target width="800px" noclick=1 only %}
          </div>
        {% endif %}
      {% endif %}
    {% endif %}


    <!-- DASCH -->
    {% if 'target_ra' in target.config and 'target_dec' in target.config and target.config.target_b > 0 %}
      <hr>
      <h3>DASCH</h3>

      {% if user_may_submit %}
        <form action="" method="POST" class="mb-2">
          <fieldset class="small" {% if target.celery_id %}disabled{% endif %}>
            {% crispy form_target_dasch %}
            <button type="submit" name="action" value="target_dasch" class="btn btn-primary">Get DASCH lightcurve</button>
          </fieldset>
        </form>
      {% endif %}

      {% if 'dasch.log' in files %}
        <hr style="border-style: dotted">
        <div class="row mb-2">
          <div class="col-md">
            {% include "target_block_text.html" with file='dasch.log' %}
          </div>

          <div class="col-md">
            <div class="row">
              {% make_list 'dasch_color_mag.png' as list %}
              {% for name in list %}
                {% if name in files %}
                  <div class="col" style="max-width: 256px">
                    {% include "target_block_image.html" with image=name target=target only %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        {% if 'dasch_lc.png' in files %}
          <div class="text-center">
            {% include "target_block_image.html" with image='dasch_lc.png' target=target width="800px" noclick=1 only %}
          </div>
        {% endif %}
      {% endif %}
    {% endif %}


    <!-- APPLAUSE -->
    {% if 'target_ra' in target.config and 'target_dec' in target.config and target.config.target_dec > -30 %}
      <hr>
      <h3>APPLAUSE</h3>

      {% if user_may_submit %}
        <form action="" method="POST" class="mb-2">
          <fieldset class="small" {% if target.celery_id %}disabled{% endif %}>
            {% crispy form_target_applause %}
            <button type="submit" name="action" value="target_applause" class="btn btn-primary">Get APPLAUSE lightcurve</button>
          </fieldset>
        </form>
      {% endif %}

      {% if 'applause.log' in files %}
        <hr style="border-style: dotted">
        <div class="row mb-2">
          <div class="col-md">
            {% include "target_block_text.html" with file='applause.log' %}
          </div>

          <div class="col-md">
            <div class="row">
              {% make_list 'applause_color_mag.png' as list %}
              {% for name in list %}
                {% if name in files %}
                  <div class="col" style="max-width: 256px">
                    {% include "target_block_image.html" with image=name target=target only %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        {% if 'applause_lc.png' in files %}
          <div class="text-center">
            {% include "target_block_image.html" with image='applause_lc.png' target=target width="800px" noclick=1 only %}
          </div>
        {% endif %}
      {% endif %}
    {% endif %}


    <!-- Combined -->
    {% if 'target_ra' in target.config and 'target_dec' in target.config and target.config.target_dec > -30 %}
      <hr>
      <h3>Combined lightcurve</h3>

      {% if user_may_submit %}
        <form action="" method="POST" class="mb-2">
          <fieldset class="small" {% if target.celery_id %}disabled{% endif %}>
            {% crispy form_target_combined %}
            <button type="submit" name="action" value="target_combined" class="btn btn-primary">Get combined lightcurve</button>
          </fieldset>
        </form>
      {% endif %}

      {% if 'combined.log' in files %}
        <hr style="border-style: dotted">
        <div class="row mb-2">
          <div class="col-md">
            {% include "target_block_text.html" with file='combined.log' %}
          </div>

          <div class="col-md">
            <div class="row">
              {% make_list 'combined_color_mag.png' as list %}
              {% for name in list %}
                {% if name in files %}
                  <div class="col" style="max-width: 256px">
                    {% include "target_block_image.html" with image=name target=target only %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        {% make_list 'combined_short_lc.png' 'combined_lc.png' as list %}
        {% for name in list %}
          {% if name in files %}
            <div class="text-center">
              {% include "target_block_image.html" with image=name target=target width="800px" noclick=1 only %}
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endif %}

  {% endif %}

{% endblock %}
