{% extends "template.html" %}

{% load el_pagination_tags %}
{% load crispy_forms_tags %}
{% load filters %}

{% block ptitle %}Targets : LCServer{% endblock %}

{% block title %}Targets{% endblock %}

{% block content %}

  <div>
    {% crispy form_filter %}
  </div>

  {% if targets %}

    {% paginate 10 targets %}

    <div class="list-group mb-4">
        {% for target in targets %}
          <a href="{% url 'targets' id=target.id %}" class="text-decoration-none list-group-item list-group-item-action d-flex justify-content-between align-items-start">
              <div class="ms-1 me-2">
                {{ target.id }}
              </div>
              <div class="ms-2 me-auto">
                <div class="fw-bold">{{ target.name }}</div>

                {% if target.title %}
                  <div class="fst-italic">{{ target.title }}</div>
                {% endif %}

                <div>
                  {% if target.config.target_ra or target.config.target_dec %}
                    Target: <span class="fw-bold">{{ target.config.target_ra|to_sexadecimal_hours }} {{ target.config.target_dec|to_sexadecimal_plus }}</span>
                  {% endif %}
                </div>

                <small class="me-2 badge bg-info">{{ target.user|user }}</small>
                <small class="me-2">Created: <span class="fst-italic">{{ target.created|timestamp }}</span></small>
                <small class="me-2">Modified: <span class="fst-italic">{{ target.modified|timestamp }}</span></small>
              </div>
              <span class="badge bg-{% if target.state == 'failed' %}danger{% else %}primary{% endif %} rounded-pill">{{ target.state }}</span>
          </a>
        {% endfor %}
    </div>

    {% show_pages %}

  {% else %}
    No targets found
  {% endif %}

  <!-- New Target Form at bottom -->
  {% if user.is_authenticated %}
    <hr class="my-4">
    <h3>
      Create New Target
      <span class="span-help-popover float-end" title="Create new target">
        <p>
          You may create new target here. Upon creation, you will be redirected to the dedicated target page, where you may analyze it.
        </p>
      </span>
    </h3>
    {% crispy form_new_target %}
  {% else %}
    <hr class="my-4">
    <p>Please <a href="{% url 'login' %}">log in</a> to create new targets.</p>
  {% endif %}

{% endblock %}
