{% extends "template.html" %}

{% load tags %}
{% load filters %}
{% load wrapwith %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block head %}
  {% include "popup_image.html" %}

  <script language="javascript">

   {% if target.celery_id %}

   var update_timer = 0;
   var update_timeout = 3000;

   update = function(){
     $.ajax({
       url: "{% url 'queue_state' target.celery_id %}",
       dataType: "json",
       timeout: 3000,

       success: function(json){
         $('#celery_state').html(json.state);
         if(json.state == 'SUCCESS' || json.state == 'FAILURE' || json.state == 'REVOKED'){
           location.reload();
         }
       },

       complete: function(xhr, status) {
         setTimeout(update, update_timeout);
       }
     });
   }

   $(function(){
     setTimeout(update, update_timeout);
   });

   {% endif %}

  </script>
{% endblock %}

{% block ptitle %}
  {% if target.celery_id %}(Running){% endif %}
  Target {{ target.id }} : LCServer
{% endblock %}

{% block title_div %}{% endblock %}

{% block content %}

  {% if not target %}
    <p>Target not found</p>
  {% else %}

    <h2>
      {{ target.name }}
    </h2>

    {% if target.title %}
    <div class="fst-italic mb-2">
      {{ target.title }}
    </div>
    {% endif %}
    <div>
      Target {{ target.id }} created by <span class="text-primary fw-bold">{{ target.user|user }}</span> on {{ target.created|timestamp }} - {{ target.created|naturaltime }}
      {% if not user_may_submit %}
        <br>
        <span class="text-danger fw-bold">Target is read-only</span>
      {% endif %}
    </div>
    <div class="mb-4 {% if target.celery_id %}sticky-top bg-white border-bottom pb-2{% endif %}">
      State:
      {% if target.celery_id %}
        <span class="spinner-border spinner-border-sm text-primary" role="status"></span>
      {% endif %}
      <b class="text-{% if target.state == 'failed' %}danger{% elif target.celery_id %}primary{% else %}success{% endif %}">{{ target.state }}</b> on {{ target.modified|timestamp }} - {{ target.modified|naturaltime }}
      {% if target.celery_id and user_may_submit %}
        <!-- Help popover -->
        <div class="span-help-popover d-inline float-end" title="Target is running">
          <p>
            The target processing task is running on the server. The page will be automatically re-loaded when processing is finished.
          </p>
          <p>
            If necessary, you may cancel the running task by clicking on the running task id and using corresponding button on the task page.
          </p>
        </div>

        <br>
        Running id:
        <a href="{% url 'queue' id=target.celery_id %}">{{ target.celery_id }}</a>
        (<span id="celery_state"></span>)
        {% if user_may_submit and False %}
          <form action="{% url 'queue' id=target.celery_id %}" method="POST">
            {% csrf_token %}
            <button type="submit" name="action" value="terminatetarget" class="btn btn-danger">Terminate</button>
          </form>
        {% endif %}
      {% endif %}
    </div>

    <hr>
    <h3>Basic info</h3>

    {% if user_may_submit %}
      <form action="" method="POST" class="mb-2">
        <fieldset class="small" {% if task.celery_id %}disabled{% endif %}>
          {% crispy form_target_info %}

          <button type="submit" name="action" value="target_info" class="btn btn-primary">Get info</button>

          <button type="submit" name="action" value="cleanup_target" class="btn btn-danger"
                  title="Delete all processing results and configurations">Cleanup</button>

          <!-- Unsafe controls -->
          <button class="btn btn-light collapse-chevron-horizontal collapsed ms-4 me-4" type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#unsafeButtons"
                  aria-expanded="false"
                  aria-controls="unsafeButtons"
                  title="Show / hide unsafe controls">
          </button>

          <span id="unsafeButtons" class="collapse collapse-horizontal collapsed">
            <button type="submit" name="action" value="delete_target" class="btn btn-danger"
                    title="Permanently delete this target">Delete target</button>
          </span>

        </fieldset>
      </form>
    {% endif %}

    <!-- Basic info -->
    <hr style="border-style: dotted">
    <div class="row mb-2">
      {% if 'info.log' in files %}
        <div class="col-md">
          {% include "target_block_text.html" with file='info.log' %}
        </div>
      {% endif %}

      {% if 'target_ra' in target.config and 'target_dec' in target.config %}
        <div class="col-md">
          <!-- include Aladin Lite CSS file in the head section of your page -->
          <link rel="stylesheet" href="https://aladin.u-strasbg.fr/AladinLite/api/v3/latest/aladin.min.css" />
          <!-- It seems Aladin uses jQuery 1.x, let's also load it and hope it will not break anything -->
<script type="text/javascript" src="https://aladin.u-strasbg.fr/AladinLite/api/v3/latest/aladin.js" charset="utf-8"></script>
          <script type="text/javascript">
           $(document).ready(function(){
             let aladin;
             A.init.then(() => {
               aladin = A.aladin('#aladin-lite-div', {survey: "P/DSS2/color", fov:0.03, projection: 'TAN'});
               aladin.gotoRaDec({{ target.config.target_ra }}, {{ target.config.target_dec }});
             });
           });
          </script>

          <div>
          <!-- insert this snippet where you want Aladin Lite viewer to appear and after the loading of jQuery -->
          <div id="aladin-lite-div" style="min-height:400px"></div>
          </div>
          {% include "target_block_external.html" with ra=target.config.target_ra dec=target.config.target_dec %}

        </div>

      {% endif %}
    </div>

    {% if 'target_ra' in target.config and 'target_dec' in target.config %}
      <hr>
      <h3>Zwicky Transient Facility</h3>

      {% if user_may_submit %}
        <form action="" method="POST" class="mb-2">
          <fieldset class="small" {% if task.celery_id %}disabled{% endif %}>
            {% crispy form_target_ztf %}
            <button type="submit" name="action" value="target_ztf" class="btn btn-primary">Get ZTF lightcurve</button>
          </fieldset>
        </form>
      {% endif %}

      <hr style="border-style: dotted">
      <div class="row mb-2">
        {% if 'ztf.log' in files %}
          <div class="col-md">
            {% include "target_block_text.html" with file='ztf.log' %}
          </div>

          <div class="col-md">
            <div class="row">
              <!-- Cutouts -->
              <div class="col" style="max-width: 256px">
                {% include "target_block_image.html" with hips="CDS/P/ZTF/DR7/color" ra=target.config.target_ra dec=target.config.target_dec width=256 height=256 fov=0.03 only %}
              </div>

              {% make_list 'ztf_color_mag.png' as list %}
              {% for name in list %}
                {% if name in files %}
                  <div class="col" style="max-width: 256px">
                    {% include "target_block_image.html" with image=name target=target only %}
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

        {% endif %}
      </div>

      {% if 'ztf_lc.png' in files %}
        <div class="text-center">
          {% include "target_block_image.html" with image='ztf_lc.png' target=target width="800px" noclick=1 only %}
        </div>
      {% endif %}

    {% endif %}

  {% endif %}

{% endblock %}
