{% load filters %}
<figure class="figure mb-2">

  {% if fits %}

    <!-- FITS files -->
    <img src="{% url 'target_preview' target.id fits %}?width=256&timestamp={{ target.completed|unix }}"
         class="figure-img img-fluid rounded mb-0" style="max-width: 256px;"
         onclick="popupImage(event, '{% url 'target_preview' target.id fits %}?timestamp={{ target.modified|unix }}', '{{ fits }}', true, 'stdview-image', {'data-stretch':1, {% if target.config.target_ra or target.config.target_dec %}'data-mark-ra':{{ target.config.target_ra }}, 'data-mark-dec':{{ target.config.target_dec }},{% endif %} 'data-grid':1, 'data-zoom':1, {% if obj %}'data-obj':1,{%endif %}})"/>

    <figcaption class="figure-caption text-center mt-0 mb-3">
      <small><a href="{% url 'target_download' target.id fits %}">{{ fits }}</a></small>
    </figcaption>

  {% elif image %}

    <!-- Normal image -->
    <img src="{% url 'target_view' target.id image %}"
         class="figure-img img-fluid rounded mb-0" style="max-width: 256px;"
         onclick="popupImage(event, '{% url 'target_view' target.id image %}?timestamp={{ target.completed|unix }}', '{{ image }}', true)"/>

    <figcaption class="figure-caption text-center mt-0 mb-3">
      <small><a href="{% url 'target_view' target.id image %}">{{ image }}</a></small>
    </figcaption>

  {% endif %}

</figure>
