{% extends "template.html" %}

{% block ptitle %}Change Password : LCServer{% endblock %}

{% block title %}{% endblock %}

{% block content %}

  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Change Your Password</h2>

      <form method="post" action="{% url 'password' %}" role="form" class="form">
        {% csrf_token %}

        {% for field in form %}
          <div class="form-group mb-3">
            <label for="{{ field.id }}">{{ field.label }}</label>
            <input type="password" name="{{ field.name }}" class="form-control" id="{{ field.id }}" placeholder="" required>

            {% if field.errors %}
              <span class="text-danger">{{ field.errors | first }}</span>
            {% else %}
              <span class="text-muted small">
                {{ field.help_text }}
              </span>
            {% endif %}
          </div>
        {% endfor %}

        <div class="form-group d-grid">
          <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
        <div class="form-group mt-3">
          <a href="{% url 'profile' %}" class="btn btn-link">Cancel</a>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>

{% endblock %}
